---
layout: default
---
<div style="padding-bottom:10px;">
<h2><center>Welcome to our home!</center></h2>
<p>We are the Buhligs (byoo-ligs) - a family who loves to learn, try new things, and teach others. We sell handmade leather products and offer cooking classes at our home. In the future we may also have farm-raised food products for sale, but this adventure is just beginning. Sign up for our email newsletter to hear about upcoming events, we’d love to see you here!</p>
</div>
<hr></hr>
<div style="padding-top:10px;padding-bottom:10px;">
<h2><center>Stay up to date!</center></h2>
<p>{% include newsletter_signup_text.html %}</p>
{% include ck_form_home.html %}
  <!-- {{!! After all the posts, we have the previous/next pagination links }}
  {{pagination}} -->
</div>
<hr></hr>
<h2><center>How can I help?</center></h2>
<p>If you’re dreaming of a custom leather order or have questions about upcoming classes, <a href="mailto:{{ site.email}}">drop me a line!</a></p>
<p>- Becky</p>
<hr></hr>
<div style="padding:10px 0px;">
  <h2><center>Upcoming Classes</center></h2>
  <div style="padding: 15px 0px;">
    <img style="max-width:100%;" src="/assets/images/classes.jpg" />
    <p> In our cooking classes we focus on approachable techniques and skills. Whether you're a skilled cook, or mac & cheese from a box is your specialty, we try to teach high-value classes packed full of information while keeping costs affordable.</p>
    <br />
    <center><a href="/classes" class="button">Upcoming Classes</a></center>
  </div>
  <hr></hr>
  <div style="padding: 25px 0px;">
    <h2><center>Leathercraft</center></h2>
    <img style="max-width:100%;"  src="/assets/images/leathercraft.jpg" />
    <p>I started leatherworking as a personal hobby and quickly grew to love it. All our leather items are handcrafted right here at Acorn Ridge using only real leather. Our goal is to provide a quality product that will last. If you don’t see what you’re after, feel free to ask about a custom order.</p>
    <br />
    <center><a href="/leather" class="button">View Products</a></center>
  </div>
  <hr></hr>
</div>
