---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title"><a href="/"><img src="/assets/images/acorn-ridge-name.png" /></a></h1>
    <h2 class="blog-description">{{ site.description }}</h2>
</header>


<main class="content" role="main">
  <p>{% include newsletter_signup_text.html %}</p>
  {% include ck_form_home.html %}
    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
