---
layout: default
---
<div style="padding-bottom:10px;">
<h2><center>Welcome to our home!</center></h2>
<p>We are the Buhligs (byoo-ligs) - a family who loves to learn, try new things, and teach others. In our cooking classes we focus on approachable techniques and skills. Whether you're a skilled cook, or mac & cheese from a box is your specialty, we try to teach high-value classes packed full of information while keeping costs affordable. In the future we may also have hand-crafted leather items or farm-raised food products for sale, but this adventure is just beginning. Sign up for our email newsletter to hear about upcoming events, we'd love to see you here!</p>
</div>
<hr></hr>
<div style="padding-top:10px;padding-bottom:10px;">
<h2><center>Stay up to date!</center></h2>
<p>{% include newsletter_signup_text.html %}</p>
{% include ck_form_home.html %}
  <!-- {{!! After all the posts, we have the previous/next pagination links }}
  {{pagination}} -->
</div>
{%- if site.classes -%}
<hr></hr>
<div style="padding-top:10px;">
  <h2><center>Upcoming Classes</center></h2>
  <div style="padding: 15px 0px;">
  {%- for class in site.classes -%}
  {{ class.content }}
  {%- endfor %}
  </div>
</div>
{%- endif %}
